.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #27296d;
  box-shadow: 0px 0px 42px 20px rgba(163, 147, 235, 0.4);
  padding: 16px;
  border-radius: 4px;
  color: white;
  background: #5e63b6;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather .btn {
  background: #f5c7f7;
}

.Weather .btn:hover {
  background: #27296d;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 75px;
  width: 75px;
  margin-right: 10px;
  margin-bottom: 30px;
  display: inline-block;
  align-self: flex-start;
}

.temperature-container {
  display: inline-block;
  align-self: flex-start;
}

.Weather .temperature {
  font-weight: bold;
  color: white;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.celsius {
  color: #f5c7f7;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 0px;
}

.Weather a {
  text-decoration: none;
  color: #f5c7f7;
}
